/* responsive screen beetween zero  to 576px */
@media only screen and (max-width: 576px) {
  .banner-title {
    font-size: 2.3rem;
    text-align: center;
  }
  .banner-desc {
    font-size: 1.2rem;
    text-align: center;
  }
  .contactUs-box {
    justify-content: start;
    gap: 1rem;
  }
  .contact-us-btn {
    padding: 1rem 2rem ;
  }
 .outer-contect-btn-text{
  display: flex;
  justify-content: center;
 }
 .inner-box{
  padding-bottom: 1rem ;
 }
  ul {
    padding-left: 0 !important;
  }
  .contact-us-btn, .contact-us-text {
    flex: 0 0 auto !important;
    width: 100% !important;
    padding: 15px !important;
    font-size: 1.4rem;
  }
  .outer-contect-btn-text {
    margin: auto;
  }
  .contactUs-box {
    display: flex;
    flex-direction: column;
  }
  .show-reel-content,.videobtn-case-icon{
    width: 100% !important;
    padding: 1rem 0;
    margin: auto;
  }
  .show-reel .watch-reel-head {
    font-size: 1rem !important;
    width: 100% !important;
  }
  .videobtn-case-icon .watch-reel{
    font-size: 1.2rem !important;
  }
  .video-play-icon {
    position: relative;
    width: 40px !important;
    height: 40px !important;
    margin-right: 1rem;
  }
 .comman-heading{
    font-size: 1.5rem !important;
  }
  .comman-para{
    font-size: .8rem !important;
  }
  .black-box .container{
    padding: 3rem 1.5rem;
  }
  .case-sub-title{
    font-size: .8rem;
  }
  .case-study-title{
    font-size: 1.3rem !important;
  }
  .case-title-desc{
    font-size: 1rem !important;
  }
  .testimony-section .card {
    max-width: 100%;
    margin: 0;
  }
  .container-box {
    height: 300px;
  }
  .container-insight {
    padding: 0 0.75rem;
  }
  .testimony-section,.case-study-section {
    padding: 3rem 1.1rem;
  }
  .insight-wrapper .insight-slider {
    gap: 25px !important;
    flex-wrap: wrap;
    justify-content: center;
  }
  .insight-card {
    max-width: 100%;
    min-width: 100%;
    margin: 2rem 0 0 0;
  }
  .seeAll {
    display: none;
  }
  /* faq css responsive */
  .FAQ-section .question .sub-title-question {
    font-size: 1.1rem;
  }
  .container-faq {
    padding: 0 0.75rem;
  }
  .faq-heading{
    font-size:2.5rem !important ;
  }
  .FAQ-section{
    padding: 3rem 1.2rem ;
  }
  .viewmore-btn-wrapper{
    margin-top: 1.5rem !important;
  }
  /* footer responsive */
  .footer-bottom-content {
    flex-direction: column;
  }
  .head-wrapper {
    margin-bottom: 2rem !important;
  }
  .footer-section .interact-media-wrap .interact-media {
    margin-left: 0rem;
  }
  .footer-section .interact-media-wrap{
    gap: 3rem !important;
  }
  .footer-section .area-list {
    flex-direction: column;
  }
  .area-list .list-items {
    margin-bottom: 2rem;
  }
  .footer-section .footer-head,
  .interact-head-sub {
    font-size: 2.5rem;
  }
  .container-footer {
    padding: 0 0.75rem;
  }
  .interact-media-wrap{
    flex-wrap: wrap;
  }
   
}
/*Responsive screen between 576px to 768px*/
@media (min-width: 576px) and (max-width: 768px) {
  .banner-title {
    font-size: 2.7rem;
    text-align: start;
  }
  .banner-desc {
    font-size: 1.5rem;
    text-align: start;
  }
  ul {
    padding-left: 0 !important;
  }
  .container {
    max-width: 800px !important;
  }
  .contactUs-box {
    justify-content: start;
    margin-top: 3rem !important;
  }
  .contact-us-btn {
    padding: 1rem 2rem ;
  }
 .outer-contect-btn-text{
  display: flex;
  justify-content: center;
 }
  .contactUs-box form{
    margin: 0 !important;
  }
  .comman-heading{
    font-size: 2.6rem !important;
  }
  .row {
    justify-content: center;
  }
  .item {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .video-play-icon {
    margin-right: 1rem;
  }
  
  .testimony-section .card {
    max-width: 100%;
    margin: 0;
  }
  /* black box  */
  .black-box .comman-heading{
    font-size: 2.5rem !important;
  }
  .black-box .container{
    padding: 3rem 3rem;
  }
  .testimony-section,.case-study-section {
    padding: 3rem 1.1rem;
  }
  .insight-wrapper .insight-slider {
    gap: 25px !important;
    flex-wrap: wrap;
    justify-content: center;
  }
  .insight-card {
    max-width: 75%;
    min-width: 75%;
    margin: 2rem 0;
  }
  .seeAll {
    display: none;
  }
  .container-faq{
    padding: 0 1.1rem ;
  }
  .FAQ-section{
    padding: 4rem 0;
  }
  /* footer responsive */
  .footer-bottom-content {
    flex-direction: column;
  }
  .head-wrapper {
    margin-bottom: 2rem !important;
  }
  .footer-section .interact-media-wrap .interact-media {
    margin-left: 0rem;
  }
  .footer-section .interact-media-wrap{
    gap: 3rem !important;
  }
  .footer-section .area-list {
    flex-direction: column;
  }
  .area-list .list-items {
    margin-bottom: 2rem;
  }
  .footer-section .footer-head,
  .interact-head-sub {
    font-size: 2.7rem;
  }
  .interact-media-wrap{
    display: flex;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 768px) {
  .case-study-box {
    min-width: 100%;
    max-width: 100%;
    margin: 0 0 3rem 0;
  }
  .case-study-section .case-study-row {
    margin-left: 0;
    flex-wrap: wrap !important;
  }
 
  .footer-image {
    display: none;
  }
  .footer-bottom-content {
    align-items: start;
  }
}
/* responsive screen beetween 768px to 992px */
@media (min-width: 769px) and (max-width: 992px) {
  .banner-title {
    font-size: 3.1rem;
  }
  .banner-desc {
    font-size: 1.5rem;
    margin: auto !important;
  }
  .inner-box{
    gap: 2rem;
  }
  .contact-us-btn {
    padding: 1rem 2rem ;
  }
 .outer-contect-btn-text{display: flex;
  justify-content: center;
 }
  .banner-three-box {
    max-width: 950px;
    margin: 2rem 0 0 0;
  }
  .container {
    max-width: 900px !important;
  }
  .case-study-section .case-study-row {
    margin-left: -2.75rem;
    margin-right: 1.75rem;
  }
  .case-study-box {
    min-width: calc(50% - 60px);
    max-width: calc(50% - 60px);
    margin-left: 3.75rem !important;
  }
  .case-sub-title{
    font-size: .8rem;
  }
  .case-study-title{
    font-size: 1.3rem !important;
  }
  .case-title-desc{
    font-size: 1rem !important;
  }
  .insight-recog-section .insight-card {
    max-width: calc(33.3333333333% - 12px);
    min-width: calc(33.3333333333% - 12px);
    margin-bottom: 1.5rem;
    margin-left: 0.75rem;
  }
  .insight-slider {
    gap: 30px !important;
    flex-wrap: wrap;
  }
  .insight-card {
    max-width: 45%;
    min-width: 45%;
    margin: 2rem 0;
  }
  /* footer responsive */
  .footer-bottom-content {
    align-items: start;
  }
  .footer-bottom-content {
    flex-direction: column;
  }
  .head-wrapper {
    margin-bottom: 2rem !important;
  }
  .footer-section .interact-media-wrap .interact-media {
    margin-left: 0rem;
    margin-top: 3rem;
  }
  .footer-section .area-list {
    margin-top: 2rem;
  }
  .footer-section .interact-media-wrap{
    gap: 3rem !important;
  }
}

@media (min-width: 992px) {
  #navbarSupportedContent {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .navbar-nav{
    gap: 3rem !important;
  }
  .footer-section .interact-media-wrap .interact-media {
    margin-left: auto;
  }
  .footer-section .interact-media-wrap{
    gap: 3rem !important;
  }
  .videobox{
    flex-direction: column;
  }
  .show-reel-content,.videobtn-case-icon{
    width: 100% !important;
    padding: 1rem;
  }
  .insight-slider {
    gap: 10px !important;
    flex-wrap: wrap;
  }
  .insight-card {
    max-width: 45%;
    min-width: 45%;
    margin-bottom: 4rem;
  }
  .inner-box{
    gap: 1rem ; 
  }
  .contactUs-box{
  margin-top: 2rem !important;
  }
}
@media (min-width:1200px){
.contactUs-box{
  margin-top: 1.5rem !important;
}

}