@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --headerclr: #f5f5f5;
  --primaryclr: #222222;
  --secondaryclr: #414141;
  --whiteclr: #ffffff;
  --btnclr: #FFC901;
  --hoverclr: #f3c625;
  --footerclr: #11163d;
}
.fs1 {
  font-size: 1rem;
}
.fs1-5 {
  font-size: 1.5rem;
}
.fs3-125{
  font-size: 3.125rem;
}
.fs3-75{
  font-size: 3.75rem;
}
.fs5 {
  font-size: 5rem;
}

header {
  background-color: var(--headerclr);
}
.content {
  background-color: var(--headerclr);
}
.nav-item a{
  font-size: 1.2rem;
  font-weight: 500;
}
.nav-item a:hover{
  color: #0D6EFD !important;
  
}
/* Define the keyframes for fade-in and slide-up */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Apply animation to navigation links */
.animate-links .nav-link {
  opacity: 0;
  animation: fadeInUp 0.6s ease forwards;
}
.animate-links .nav-item:nth-child(1) .nav-link {
  animation-delay: 0.1s;
}
.animate-links .nav-item:nth-child(2) .nav-link {
  animation-delay: 0.2s;
}
.animate-links .nav-item:nth-child(3) .nav-link {
  animation-delay: 0.3s;
}
.animate-links .nav-item:nth-child(4) .nav-link {
  animation-delay: 0.4s;
}
.animate-links .nav-item:nth-child(5) .nav-link {
  animation-delay: 0.5s;
}
/* Styling for the dropdown menu */
.main-drop-menu {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  padding: 0.5rem 0;
  min-width: 200px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.main-drop-menu .dropdown-item {
  padding: 0.5rem 1rem;
  color: #333;
}

.main-drop-menu .dropdown-item:hover {
  background-color: #f8f9fa;
  color: #000;
}

.nav-item:hover .dropdown-menu {
  display: block;
  position: absolute;
}
.inner-box {
  max-width: 950px;
  padding-bottom: 6rem;
}
.banner-title {
  font-size: 5rem;
  font-family: "Times New Roman", Times, serif;
}
.banner-desc {
  max-width: 600px;
  color: var(--secondaryclr);
  font-size: 1.8rem;
}
.contact-us-btn {
  background-color: var(--btnclr) !important;
  color: var(--whiteclr) !important;
}
.contact-us-text {
  display: flex;
  cursor: pointer;
  max-width: 190px;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
}
.contact-us-text:hover {
  transition: color 0.3s ease-in-out;
  transition: gap 0.1s ease-in-out;
  gap: 17px;
  color: var(--btnclr) !important;
}

/* client company name css */
.client-content {
  width: 100%;
}
.clients-img.img-fluid {
  width: 90px;
}
.item {
  min-width: calc(100% / 10);
  flex: 1 0 calc(20% - 10px);
  text-align: center;
}
/*  Show reel section css */
.container-box {
  height: 560px;
}
.show-reel-content {
  max-width: 1100px;
}
.videobtn-case-icon {
  position: relative;
  /* width: 370px; */
}
.video-play-icon{
  width: 60px;
  height: 60px;
  background-color: var(--btnclr);
  border-radius: 50px;
}
/* video hover play  */
.videobtn-case-icon {
  transition: color 0.3s ease;
}
.videobtn-case-icon.hovered {
  color: var(--btnclr);
}
.video-hover-box {
  width: 160px;
  height: 160px;
  pointer-events: none;
  z-index: 10;
  transition: transform 0.5s ease, visibility 0.5s ease;
  transform: scale(0);
}
#hoverVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* black box css  */
.black-box .container {
  max-width: 1400px;
  padding: 8rem 4.375rem;
  margin: 0 auto;
}
.black-box {
  background-color: #000;
}
.service-card {
  background-color: #1a1a1a;
  color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  transition: all 0.3s ease;
}
.service-card:hover {
  background-color: #333;
  transform: translateY(-5px);
}
.service-title {
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;
  color: white;
  text-decoration: underline;
}
.service-title:hover {
  color: var(--hoverclr);
  text-decoration: none;
}
 .black-box .comman-heading{
  font-size: 3.3rem;
  font-family: "Times New Roman", Times, serif;

}
.comman-para{
  font-size: 1.2rem;
}
.service-description {
  margin-top: 10px;
  font-size: 1.025rem;
  line-height: 1.6;
}
.trusted-section{
  padding: 6rem 0;
  background-color: var(--headerclr);
}
/* testimony style css */
.testimony-section {
  background-color: var(--headerclr);
  padding: 8rem 0;
}
.card5{
  padding-bottom: 2.7rem;
}
/* case-study-section */
.case-study-section {
  padding: 8rem 0;
}
.case-study-section .case-study-heading-block {
  max-width: 745px;
}
.case-study-heading-block .case-study-heading {
  margin-bottom: 2.875rem;
  font-weight: 700;
  color: var(--primaryclr);
  font-family: "Times New Roman", Times, serif;
}
.case-study-box {
  min-width: calc(32% - 30px);
  max-width: calc(32% - 30px);
  margin: 0 0 4.5rem 1.5rem;
  transition: all 0.4s;
}
.case-study-box:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.case-study-box .image-content {
  transition: all 0.4s;
}
.image-content {
  min-width: 100%;
  max-width: 100%;
  border-radius: 12px;
}
.case-sub-title {
  padding-top: 1.5rem !important;
  color: var(--secondaryclr);
  font-weight: 400;
}
.case-study-title {
  max-width: 480px;
  font-weight: 700;
  font-size: 1.75rem;
  color: var(--primaryclr);
}
.case-title-desc {
  font-weight: 400;
  font-size: 1.1875rem;
  color: var(--primaryclr);
  line-height: 1.4;
}
.case-study-video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  transform: scaleX(1.5);
  transition: opacity 0.5s ease, z-index 0.5s ease 0.5s;
}
.image-content:hover .case-study-video {
  opacity: 1;
  z-index: 2;
  transition: opacity 0.5s ease, z-index 0.4s ease 0.4s;
}
.view-link {
  color: var(--primaryclr);
  font-weight: 500;
  cursor: pointer;
}
.view-next-icon {
  min-width: 16px;
  max-width: 16px;
  transition: all 0.3s;
}
.view-link-text {
  cursor: pointer;
  text-decoration: underline;
}
.view-link .view-link-text:hover {
  text-decoration: none;
  transition: text-decoration 0.3s ease-in-out;
}
.view-link:hover {
  transition: color 0.3s ease-in-out;
  transition: gap 0.3s ease-in-out;
  gap: 18px !important;
  color: var(--hoverclr) !important;
}
/* custo extr css */
/*insight section*/
.insight-section {
  background-color: #000;
  padding: 8rem 0;
}
.container-insight {
  max-width: 1400px;
  padding: 0 4.375rem;
  margin: 0 auto;
}
.insight-section .insight-title {
  max-width: 660px;
  font-weight: 700;
  color: var(--whiteclr);
}
.insight-card {
  max-width: 365px;
  min-width: 365px;
  background-color: #cfe6ff;
  color: #0D6EFD;
}
.insight-card .card-detail-img img {
  width: 100%;
  margin-bottom: 3rem;
  object-position: center center;
  overflow: hidden;
  aspect-ratio: 4 / 3;
  border-radius: 12px;
}
.insight-card-desc {
  width: 85%;
  font-weight: 400;
  color: var(--primaryclr);
}
.insight-card-desc:hover {
  text-decoration: underline !important;
}
.insight-author-detail .author-name {
  font-weight: 500;
}
.sub-insight-author-detail .insight-card-left,
.insight-card-right {
  font-size: 0.8125rem;
  color: var(--primaryclr);
}

/* FAQ Section Css */
.FAQ-section {
  padding: 8rem 0;
}
.container-faq {
  max-width: 1400px;
  padding: 0 4.375rem;
  margin: 0 auto;
}
.FAQ-section .faq-heading {
  font-weight: 700;
  color: var(--primaryclr);
  max-width: 1048px;
}
.FAQ-section .faq-wrapper {
  max-width: 1048px;
  padding-top: 1rem;
}
.FAQ-section .faq-container {
  padding: 2.5rem 0;
  border-bottom: 1px solid #cdcdcd;
  display: none;
}
.FAQ-section .question {
  cursor: pointer;
}
.FAQ-section .question .sub-title-question {
  font-weight: 700;
  color: var(--primaryclr);
}
.process-list-pointer{
  margin-right: 7px;
  margin-top: 6px;
}
.toggle-icon {
  font-size: 1.25rem;
  transition: transform 0.3s;
}
.FAQ-section .answercont {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}
.answercont.show {
  max-height: 1050px !important;
}
.rotate-icon {
  transform: rotate(180deg);
}
.font-body-small {
  font-weight: 400;
  font-size: 1.1875rem;
  color: var(--primaryclr);
  line-height: 1.4;
}
.FAQ-section .answer-list {
  margin-top: 2rem;
}
.faq-container.visible {
  display: block;
}
/* footer section */
.footer-section {
  padding: 8rem 0 3rem 0;
  background-color: var(--footerclr);
}
.container-footer {
  max-width: 1400px;
  padding: 0 4.375rem;
  margin: 0 auto;
}
.footer-section .footer-head,
.interact-head-sub {
  font-weight: 700;
  color: var(--whiteclr);
  font-size: 4.5rem;
  font-family: "Times New Roman", Times, serif;
}
.address-area{
  margin-bottom: 1rem;
}
.head-wrapper {
  margin-bottom: 8rem !important;
}
.footer-section .address-area .area-list .list-items {
  margin-right: 7rem;
}
.footer-section .interact-media-wrap{
  gap: 7rem !important;
}
.footer-bottom-content {
  align-items: end;
}
.list-items .area-desc {
  color: var(--whiteclr);
  font-weight: 400;
  max-width: 220px;
  text-decoration: none;
}
.list-items .list-link {
  color: var(--whiteclr);
  font-weight: 600;
  max-width: 220px;
  line-height: 1.6;
  text-decoration: none;
}
.list-items .list-link:hover {
  text-decoration: underline;
}
.list-items .area-head {
  font-weight: 700;
}
